@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: black;
    user-select: none;
}

.main {
    position: relative;
    background-image: url("assets/img/hero_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* height: 95vh; */
    height: 700px;
    background-size: max(1200px, 100vw);
    margin: auto;
}

.main .box {
    position: absolute;
    top: 0;
    /* height: 95vh; */
    height: 700px;
    width: 100%;
    opacity: 0.7;
    background-color: black;
}

nav {
    position: relative;
    height: 90px;
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    width: 150px;
}

.navButton{
    display: flex;
}

.langBtn{
    background-color: rgb(17,16,17);
    border: 0.01px solid #5E5E5E;
    padding: 6px 10px;
    /* position: relative; */
    border-radius: 5px;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 130px;
}

.langBtn select{
    background-color: black;
    border: none;
    color: white;
    font-size: 17px;
    padding-right: 10px;
}

.langBtn img{
    width: 16px;
}

.signinBtn{
    background-color: black;
    border: none;
    background-color: #E50914;
    padding:8px 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    position: relative;
    z-index: 10;
    height: calc(100% - 90px);
    max-width: 75vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    /* padding: 4rem 0rem 4rem 0rem; */
    margin: auto;
}

.hero h1 {
    font-size: 48px;
    letter-spacing: normal;
    font-weight: bolder;
    text-align: center;
}

.hero p:nth-child(2) {
    color: white;
    font-size: 24px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 400;
    text-align: center;
}

.hero p:nth-child(3) {
    color: white;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.loginBtn{
    display: flex;
    justify-content: baseline;
    gap: 0.5rem;
}

.loginBtn input {   
    width: 380px;
    padding: 8px 16px 8px;
    background-color: transparent;
    border: 1px solid lightgreen;
    border-radius: 5px;
    color: white;
    line-height: 24px;
    font-size: 16px;
}

.loginBtn button {
    height: 60px;
    padding: 12px 24px;
    background-color: #E50914;
    border: none;
    border-radius: 5px;
    color: white;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.seperation{
    position: absolute;
    width: 100vw;
    height: 8px;
    background-color: #232323;
    bottom: 0;
}

/* Section */

section{
    position: relative;
    padding: 80px 0 80px;
}

.content{
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading{
    color: white;
    font-size: 48px;
    letter-spacing: normal;
    font-weight: bolder;
    line-height: normal;
}

.para{
    margin-top: 20px;
    color: white;
    font-size: 24px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 400;
}

.secImg{
    position: relative;
}

.secImg img{
    position: relative;
    z-index: 10;
    width: 38vw;
    overflow: hidden;
}

.video1{
    position: absolute;
    left: 5vw;
    top: 6vw;
    width: 28vw;
}

.video2{
    width: 23vw;
    position: absolute;
    left: 7vw;
    top: 3.5vw;
}

/* Section 2 Downloader Box */

.downloader{
    height: 100px;
    width: 22vw;
    border: 1px solid #5e5e5e;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 8vw;
    bottom: 8vw;
    z-index: 10;
    padding: 10px;
}
.download_image{
    height: 100%;
    width: 4rem;
    background-image: url("assets/img/mobile_box_image.png");
    background-size: cover;
}
.download_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.download_icon img{
    max-width: 60px;
}

/*     FAQ Section */

.faq{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.faqBox{
    position: relative;
    margin-top: 10px;
    max-width: 75vw;
    width: 75vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 2px;
}

.faq .ques{
    color: white;
    font-size: 24px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 400;
}

.faqBox:hover .queBox{
    background-color: #414141;
}

.queBox{
    padding: 24px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ansBox{
    position: relative;
    padding: 24px;
    display: none;
    transition: all 10s ease;
}

.faqBox.clicked .ansBox {
    display: block;
    background-color: #2d2d2d;
    height: auto;
    transition: all;
    transition-duration: 0.3s;
}

.faqBox.clicked svg{
    transition: all ease;
    transform: rotate(-45deg);
}

.faq .para2{
    margin-top: 2rem;
    color: white;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}


/* footer */
footer{
    width: 100%;
    background-color: black;
    padding: 80px 0 80px;
}

.footer_main{
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #b3b3b3;
    gap: 1.5rem;
}

.footer_main a{
    color: #b3b3b3;
}

.feedback{
    display: grid;
    grid-template-columns: repeat(4 , 1Fr);
    font-size: 14px;
    row-gap: 20px;
}


/* Button Hover Effect */
.effect:hover{
    box-shadow: inset 0 0 100px  rgb(195, 15, 15) , inset 0 0 100px rgb(195, 15, 15);
}

